language: minimal
services:
  - docker
before_install:
    - ci_env=`bash <(curl -s https://codecov.io/env)`
    - docker pull gcr.io/panoptes-survey/panoptes-utils
install: true  # skips install
script:
    - docker run -it -v $TRAVIS_BUILD_DIR:/var/panopts/panoptes-utils $ci_env gcr.io/panoptes-survey/panoptes-utils scripts/testing/run_tests.sh