dist: xenial
sudo: required
language: python
addons:
  apt:
    packages:
      - docker-ce
python:
  - "3.6"
services:
- docker
before_install:
- mkdir -p $HOME/data && wget -qO- ${TEST_CR2_FILE} > $TRAVIS_BUILD_DIR/tests/data/canon.cr2
- sed -i '/\.git/d' .dockerignore
- docker build -t panoptes-utils:testing -f ${TRAVIS_BUILD_DIR}/docker/testing.Dockerfile ${TRAVIS_BUILD_DIR}
install: true
script:
- docker run -it
  panoptes-utils:testing
  scripts/testing/run-tests.sh
