-r requirements.txt
altair
bokeh
google-cloud-bigquery[pandas,pyarrow]
google-cloud-firestore
google-cloud-pubsub
google-cloud-storage
holoviews
hvplot
jupyterlab
pandas
pendulum
pyarrow
seaborn
tabulate
