version: '3.7'
services:
  config-server:
    image: gcr.io/panoptes-exp/panoptes-utils:latest
    init: true
    container_name: config-server
    privileged: true
    network_mode: host
    env_file: $PANDIR/.env
    restart: on-failure
    volumes:
      - pandir:/var/panoptes
    command: ["/var/panoptes/panoptes-utils/bin/panoptes-config-server"]
volumes:
    pandir:
      driver: local
      driver_opts:
        type: none
        device: /var/panoptes
        o: bind

